<div class="h-screen w-60 bg-gray-600 text-white fixed top-0 left-0 overflow-y-auto">

        <shared-sidemenu [userName]="user()?.name" />
</div>
<div class="main-content">
    <router-outlet ></router-outlet>
</div>
    
<!--<button routerLink='/auth/login'>ir al Login</button>

<h1>Dashboard</h1>
<hr>
<h3>User</h3>
<pre>{{user()?.name}}</pre>

<h3>Correo Electrónico</h3>
<pre>{{user()?.email}}</pre>

<h3>Role</h3>
<pre>{{user()?.roles}}</pre>

<h3>Activo??</h3>
<pre>{{user()?.isActive}}</pre>
<button (click)="onLogout()">Logout</button><br>
</div>-->


