
    <!-- Contenido principal de tu página -->
    <h1 class="text-2xl font-normal mb-4">Contenido Principal</h1>
    <p>Listado de categorías</p>
    <div class="p-2 flex flex-wrap items-center justify-around flex-row">

    @if ( userRolesIn(['admin']) ) {
        <div  [routerLink]="['/dashboard/mapbox']" class="m-4">
            <div class="flex-shrink-0 mr-5 relative overflow-hidden bg-orange-500 rounded-lg max-w-xs shadow-lg
            hover:cursor-pointer hover:transition-transform hover:-translate-y-1.5 hover:rotate-1"
            [ngStyle]="{ 'background-color': '#C73111' }">
    <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
    </svg>
    <div class="relative text-white px-6 pt-6 mt-6">
        <span class="block opacity-75 mb-1">MapBox</span>
        <div class="flex ">
        <span class="material-symbols-outlined">
            location_on
        </span>    
        <span class="flex font-semibold text-xl">Ubicar en Mapbox</span>
        </div>
    </div>
</div>
        </div>
    }
        @for (item of sharedService.menuItemSidebar(); track $index) {
            
            
            <div  [routerLink]="item.router" class="m-4">
                <shared-card [itemMenu]="item"></shared-card>
            </div>
        
        }
        
    </div>