<div class="my-6">
  <div class="grid sm:grid-cols-2 items-center gap-16 p-8 mx-auto max-w-4xl bg-white shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md text-[#333] font-[sans-serif]">
      <div>
          <h1 class="text-3xl font-normal">Validaciones</h1>
          <div class="row">
            <div class="col">
        
                <p><span class="font-semibold"> Valid:</span> {{ myDynamicForm.valid| json }}</p><br>
        
                <p><span class="font-semibold"> Pristine:</span> {{ myDynamicForm.pristine| json }}</p><br>
        
                <p><span class="font-semibold"> Touched:</span> {{ myDynamicForm.touched| json }}</p><br>
        
                <p><span class="font-semibold"> Value :</span> {{ myDynamicForm.value| json }}</p><br>
                <p><span class="font-normal"> Favorito :</span> {{ newFavorite.touched | json }}</p><br>
        
        
                <p><span class="font-semibold"> Name - Errors</span></p>
                <pre>{{ myDynamicForm.controls['name'].errors | json }}</pre>
            </div>
        </div>
      </div>
    
      <form 
      [formGroup]="myDynamicForm"
      (ngSubmit)="onSubmit()"
       class="ml-auto space-y-4">
          <input type='text' name ="name" placeholder='Nombre'
              class="w-full rounded-md py-2.5 px-4 border-2 text-sm shadow-lg text-gray-800"
              formControlName="name" />
              @if ( isValidField('name')) {
                <span class="text-sm text-red-600">
                  {{ getFieldError('name') }}
                </span> 
              }
          <!-- Agregar Favorito -->
          <div class="mb-3 row-auto">
            <label class="sm:col-3">Agregar a favorito</label>
            <div class="col-sm-9">

                <div class="flex">
                    <input class="w-full rounded-md py-2.5 px-4 border-2 text-sm shadow-lg text-gray-800"
                          placeholder="Favorito"
                            [formControl]="newFavorite">
                    <button class="w-full rounded-md text-sm text-white bg-gradient-to-tr from-blue-500 to-purple-500"
                            type="button"
                            (click)="onAddFavorite()">
                        Agregar
                    </button>
                    
                </div>
                @if( newFavorite.touched && newFavorite.errors) {
                      <p class="text-sm text-red-600">
                        Este campo es requerido
                      </p> 
                    }
            </div>
          </div>
            @if(favoriteCountry.length > 0){
          <!-- Lista de Juegos Favoritos -->
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Favoritos</label>
            <div class="col-sm-9" formArrayName="favorites">
        
                <div class="mb-1" *ngFor="let favorite of favoriteCountry.controls; let i = index">
        
                    <div class="flex">
                        <input [formControlName]="i"
                            class="w-full rounded-md py-2.5 px-4 border-2 text-sm shadow-lg text-gray-800">
        
                        <button
                                class="text-sm font-normal  px-2 rounded-md text-white bg-gradient-to-tr from-blue-500 to-rose-900"
                                type="button"
                                (click)="onDeleteFavorite(i)">
                            Eliminar
                        </button>
                    </div>
                @if ( isValidFieldInArray(favoriteCountry, i)) {
                    <span
                        class="text-sm text-red-600">
                        Este campo es requerido
                    </span>
                  }
                </div>
        
                </div>
            </div>
            }
          <button type="submit"
              class="text-white bg-gradient-to-tr from-blue-500 to-purple-500 hover:bg-blue-600 font-semibold rounded-md text-sm px-4 py-2.5 w-full">Enviar</button>
      </form>
  </div>
</div>